<MarketplaceDetails>
  <SmallAppTile>Icon.png</SmallAppTile>
  <ScreenShots>Music_Game11.png;;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>Music_Game1.png;Music_Game2.png;Music_Game3.png;Music_Game4.png;Music_Game5.png;Music_Game6.png;Music_Game7.png;;</ScreenShotsWXGA>
  <ScreenShots720P>Music_Game12.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>